.logout-container {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #101011;
  position: sticky;
  bottom: 0;
  /* background-color: #ededee; */
  z-index: 10;
}


.logout-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  color: #01080c;
  font-size: 0.95rem;
}

.logout-item:hover {
  background-color: #eef0e6;
}

.logout-icon {
  font-size: 1.1rem;
}